.flex-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2em;
}

.flex-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    min-width: 400px;
    width: 40vw;

    box-sizing: border-box;
    background-color: rgba(var(--bg-primary-dm), 0.75);

    text-align: left;
    text-wrap: wrap;
    padding: 1%;
        padding-right: 4px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.top {
    gap: 10px;
}
.title {
    justify-content: left;
    font-size: 30px;
    font-weight: bold;
}

.subtitle {
    justify-content: right;
    font-size: 20px;
}
.image{
    width: 98%;
    height:auto;
    box-sizing: border-box;
    object-fit: contain;
    border-radius: 10px;
}

.description {
    font-size: 16px;
}
.technologies {
    font-size: 16px;
    color: var(--bg-secondary-var-dm);
}