.row{
    width: 100vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-width: 0;
}


.card {
    width: 40vw;
    height: 40vw;
    gap: 0px;
    box-sizing: border-box;
    background-color: rgba(var(--bg-primary-dm),0.75);

    text-align: left;
    text-wrap: wrap;
    padding-left:1%;
    padding-right: 1%;
    border-radius: 10px;
}

.image{
    width: 100%;
    height:auto;
    box-sizing: border-box;
    object-fit: contain;
    border-radius: 10px;
}

.details{
    font-size:large;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.tech{
    font-size:large;
    color: var(--bg-secondary-var-dm);
}