.tabSwitch {
    width: 100vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: xx-large;
}
.nameBase {
    color: var(--bg-text-on-background-dm);
}

.nameCurrent {
    color: var(--bg-primary-dm);
}