:root {
/*new design*/
  --off-white: #dbfdff;
    --middle-blue: rgb(129, 104, 241);
    --name-colour-1: rgb(76, 44, 216);
    --name-colour-2: #03dac8;
    --about-me-colour: var(--off-white);
    --tab-select-colour: var(--middle-blue);
    --tab-notselect-colour: var(--off-white);
  /*Material Design Colours*/
    /*https://m2.material.io/design/color/dark-theme.html#ui-application*/
    --bg-primary-dm: 105, 105, 125;
      /*#BB86FC*/
    --bg-primary-var-dm: #3700B3;
    --bg-secondary-var-dm: #03DAC6;
    --bg-background-dm: #150222;
    --bg-text-on-background-dm: #FFFFFF;
    --bg-text-on-primary-dm: #000000;
}

body {
  background-color: var(--bg-background-dm);
  margin: 0;
  padding: 0;
  text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: var(--bg-text-on-background-dm);
  margin-top: 0;
  margin-bottom: 0;
    /*text-shadow: 1px 1px var(--text-shadow-grey);*/
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

a{
  color:var(--bg-primary-var-dm)
}

/*Large PDF Viewer*/
.pdfs {
  background: none;
  border: none;
  width: 60vw;
  height: 60vw;
}