.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.title {
  font-size: 100px;
  color: rgba(var(--bg-primary-dm),1);
}